In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

### MTA Bridge

In [7]:
data = pd.read_csv('/Users/ryan/Documents/01.Research Projects/18.NYC Congestion Pricing/3.Model Calibration/(1226) Post-toll Calibration/MTA_Bridges_and_Tunnels_Hourly_Crossings__Beginning_2019_20260122.csv')

In [8]:
data['Month'] = data['Transit Timestamp'].map(lambda x: x.split(' ')[0].split('/')[0])
data['Year'] = data['Transit Timestamp'].map(lambda x: x.split(' ')[0].split('/')[-1])
data = data[(data['Year'].isin(['2022','2023','2024','2025'])) & data['Month'].isin(['04','05','06'])]
#data = data[(data['Facility ID'].isin([27,28]))&(data['Vehicle Class Category']=='Car')]
# data = data[data['Direction'].isin(['Northbound to Manhattan','Westbound to Manhattan'])]

In [9]:
aa = data.groupby(['Facility','Year','Month'])['Traffic Count'].sum().reset_index()
aa.sort_values(['Facility','Year','Month'])

                 Facility  Year Month  Traffic Count
0    Hugh L. Carey Tunnel  2022    04        1855499
1    Hugh L. Carey Tunnel  2022    05        1915280
2    Hugh L. Carey Tunnel  2022    06        1931671
3    Hugh L. Carey Tunnel  2023    04        1846586
4    Hugh L. Carey Tunnel  2023    05        1986983
5    Hugh L. Carey Tunnel  2023    06        1959924
6    Hugh L. Carey Tunnel  2024    04        1851839
7    Hugh L. Carey Tunnel  2024    05        2025715
8    Hugh L. Carey Tunnel  2024    06        1906169
9    Hugh L. Carey Tunnel  2025    04        1801103
10   Hugh L. Carey Tunnel  2025    05        1932344
11   Hugh L. Carey Tunnel  2025    06        1848370
12  Queens Midtown Tunnel  2022    04        2554400
13  Queens Midtown Tunnel  2022    05        2654180
14  Queens Midtown Tunnel  2022    06        2648418
15  Queens Midtown Tunnel  2023    04        2511063
16  Queens Midtown Tunnel  2023    05        2667287
17  Queens Midtown Tunnel  2023    06        2619406
18  Queens Midtown Tunnel  2024    04        2518541
19  Queens Midtown Tunnel  2024    05        2703144
20  Queens Midtown Tunnel  2024    06        2614085
21  Queens Midtown Tunnel  2025    04        2494689
22  Queens Midtown Tunnel  2025    05        2700885
23  Queens Midtown Tunnel  2025    06        2593525

### NYC DOT Data

In [69]:
data2 = pd.read_csv('/Users/ryan/Documents/01.Research Projects/18.NYC Congestion Pricing/3.Model Calibration/(1226) Post-toll Calibration/Automated_Traffic_Volume_Counts_20260125.csv')

In [70]:
data2.columns

Index(['RequestID', 'Boro', 'Yr', 'M', 'D', 'HH', 'MM', 'Vol', 'SegmentID',
       'WktGeom', 'street', 'fromSt', 'toSt', 'Direction'],
      dtype='object')

In [71]:
brooklyn_streets = [s for s in data2['street'].unique() if 'BRIDGE' in s]
brooklyn_streets.sort()

In [72]:
brooklyn_streets

['145 STREET BRIDGE',
 '145 STREET BRIDGE APPROACH',
 '3 AVENUE BRIDGE',
 '3 STREET BRIDGE',
 '9 STREET BRIDGE',
 'ALEXANDER HAMILTON BRIDGE',
 'BAINBRIDGE STREET',
 'BORDEN AVENUE BRIDGE',
 'BROADWAY BRIDGE',
 'BROOKLYN BRIDGE',
 'BROOKLYN BRIDGE EXIT RAMP',
 'CARROLL ST BRIDGE',
 'CITY IS BRIDGE',
 'CROPSEY AVENUE BRIDGE',
 'E/B 9 STREET BRIDGE @ SMITH ST - 2 AVE',
 'E/B BROOKLYN BRIDGE',
 'E/B E 174 ST BRIDGE @ BRONX RIVER AVE',
 'E/B EAST GUN HILL RD @ BAINBRIDGE AVE',
 'E/B EASTERN BLVD BRIDGE@BRONX RIVER AVE',
 'E/B FLUSHING BRIDGE @ PRINCE ST',
 'E/B KOSCIUSZKO BRIDGE @ TO L.I.E.',
 'E/B MILL BASIN BRIDGE @ BELT PKWY',
 'E/B UNIPORT BRIDGE @ BRUSH AVE',
 'E/B WESTCHESTER AVE BRIDGE@WHITLOCK AVE-',
 'E/B WILLIAMSBRIDGE RD @ E TREMONT AVE',
 'EAST 174 ST BRIDGE',
 'EASTCHESTER BRIDGE',
 'EASTERN BLVD BRIDGE',
 'ED KOCH QUEENSBORO BRIDGE',
 'ED KOCH QUEENSBORO BRIDGE APPR',
 'ED KOCH QUEENSBORO BRIDGE EXIT',
 'FLUSHING BRIDGE',
 'FRESH KILLS BRIDGE',
 'GRAND STREET BRIDGE',
 'HAMILTON AVENUE BRIDGE',
 'HOOK CREEK BRIDGE',
 'HUNTERS POINT BRIDGE',
 'HUTCHINSON RIVER PARKWAY BRIDGE',
 'JJ BYRNE MEMORIAL BRIDGE',
 'KOSCIUSZKO BRIDGE',
 'MACOMBS DAM BRIDGE',
 'MADISON AVENUE BRIDGE',
 'MANHATTAN BRIDGE',
 'METROPOLITAN AVENUE BRIDGE',
 'MILL BASIN BRIDGE',
 'N/B 1ST AVE TO WILLIS AVE BRIDGE',
 'N/B 3 AVE BRIDGE @ 3 STREET - 6 STREET',
 'N/B BRIDGE EXT (NEW ST) @ E 61 ST',
 'N/B EASTCHESTER BRIDGE @ NOELL AVE -',
 'N/B EASTCHESTER BRIDGE @ ROPES AVE',
 'N/B HUTCHINSON RIVER PKWY BRIDGE',
 'N/B NORTH CHANNEL BRIDGE @ 165 AVE',
 'N/B PELHAM BRIDGE @  BRUCKNER EXPWY',
 'N/B PULASKI BRIDGE @ EAGLE ST - 49 AVE',
 'N/B WHITESTONE EXPWY BRIDGE',
 'NB BRIDGE ENTRANCE ON MCGUINNESS (N/O FREEMAN)',
 'NORTH CHANNEL BRIDGE',
 'PELHAM BRIDGE',
 'PULASKI BRIDGE',
 'QUEENS MIDTOWN EXPRESSWAY BRIDGE',
 'RIKERS ISLAND BRIDGE',
 'ROOSEVELT AVENUE BRIDGE',
 'ROOSEVELT IS BRIDGE',
 'S/B 3 AVE BRIDGE @ 3 STREET - 6 STREET',
 'S/B BRUCKNER BLVD RAMP TO 3 AVE BRIDGE',
 'S/B EASTCHESTER BRIDGE @ NOELL AVE',
 'S/B EASTCHESTER BRIDGE @ NOELL AVE -',
 'S/B FRESH KILLS BRIDGE @ FOREST HILL RD-',
 'S/B HUTCHINSON RIVER PKWY BRIDGE',
 'S/B NORTH CHANNEL BRIDGE @ 1ST ROAD',
 'S/B PELHAM BRIDGE @  BRUCKNER EXPWY',
 'S/B PULASKI BRIDGE @ 49 AVE - EAGLE ST',
 'STILLWELL AVENUE BRIDGE',
 'THOMSON ST BET 33TH DR & QUEENSBORO BRIDGE RAMP',
 'UNION PORT BRIDGE',
 'UNION ST BRIDGE',
 'UNIVERSITY HEIGHTS BRIDGE',
 'W/B 9 STREET BRIDGE @ SMITH ST - 2 AVE',
 'W/B BROOKLYN BRIDGE',
 'W/B E 174 ST BRIDGE @ BOONE AVE',
 'W/B EAST 174 STREET BRIDGE @ BOONE AVE',
 'W/B EASTERN BLVD BRIDGE@BRONX RIVER AVE',
 'W/B FLUSHING BRIDGE @ VAN WYCK EXPWY RMP',
 'W/B METROPOLITAN AVE BRIDGE @',
 'W/B MILL BASIN BRIDGE @ BELT PKWY',
 'W/B UNIONPORT BRIDGE @ ZEREGA AVE',
 'WESTCHESTER AVENUE BRIDGE',
 'WILLIAMSBRIDGE RD',
 'WILLIAMSBURG BRIDGE',
 'WILLIS AVENUE BRIDGE']

In [49]:
lst = ['BROOKLYN BRIDGE','MANHATTAN BRIDGE','WILLIAMSBURG BRIDGE','ED KOCH QUEENSBORO BRIDGE']

In [61]:
data3 = data2.copy()
data3 = data3[(data3['street'].isin(lst))&(data3['Yr'].isin([2022,2023,2024,2025]))]
#data3 = data3[data3['M'].isin([4,5,6])]

In [67]:
data3.groupby(['street','Yr','M']).agg({'RequestID':'count','Vol':'sum'})

                                   RequestID  \
street                    Yr   M
BROOKLYN BRIDGE           2022 10        288
ED KOCH QUEENSBORO BRIDGE 2022 10        288
                          2023 10         96
MANHATTAN BRIDGE          2024 10        384

                                                                                 Vol
street                    Yr   M
BROOKLYN BRIDGE           2022 10  5335084673172652411871791491391141061221011189...
ED KOCH QUEENSBORO BRIDGE 2022 10  1941891982061901941881521591601471591151601248...
                          2023 10  1219666856818704453454333464360435476861009414...
MANHATTAN BRIDGE          2024 10  1219472605854443930243732262732322435414857981...

In [56]:
data2['Yr'].unique()

array([2016, 2013, 2023, 2012, 2018, 2025, 2022, 2010, 2021, 2017, 2024,
       2011, 2014, 2019, 2009, 2008, 2015, 2020, 2000, 2007, 2006])

In [73]:
aa = data2[data2['street']=='BROOKLYN BRIDGE']

In [76]:
(312428 - 308092) / 308092

0.014073718240006233